@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
	background: #2b303b;
}

.scoreboard {
	font-family: 'Press Start 2P', cursive;
	text-align: center;

	position: absolute;
	height: 60px;
	width: 200px;
	padding: 25px 10px 20px;
	margin: 25px 25px;
	z-index: 99;

	color: #fff;
	border: 3px solid #fff;
}